.marker-cluster-small {
    background-color: rgba(76, 76, 76, 0.5);
}
.marker-cluster-small div {
	background-color: rgba(33, 33, 33, 0.9);
}
.marker-cluster-medium {
    background-color: rgba(76, 76, 76, 0.5);
}
.marker-cluster-medium div {
    background-color: rgba(33, 33, 33, 0.9);
}
.marker-cluster-large {
    background-color: rgba(76, 76, 76, 0.5);
}
.marker-cluster-large div {
    background-color: rgba(33, 33, 33, 0.9);
}

/* IE 6-8 fallback colors. */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(76, 76, 76);
}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(33, 33, 33);
}
.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(76, 76, 76);
}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(33, 33, 33);
}
.leaflet-oldie .marker-cluster-large {
	background-color: rgb(76, 76, 76);
}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(33, 33, 33);
}

.marker-cluster {
    background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
    text-align: center;
	border-radius: 15px;
	font-size: 11px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.marker-cluster span {
	line-height: 30px;
}