.marker-cluster-small {
    background-color: rgba(63, 81, 181, 0.9);
}
.marker-cluster-small div {
	background-color: #fff;
}
.marker-cluster-medium {
    background-color: rgba(63, 81, 181, 0.9);
}
.marker-cluster-medium div {
    background-color: #fff;
}
.marker-cluster-large {
    background-color: rgba(63, 81, 181, 0.9);
}
.marker-cluster-large div {
    background-color: #fff;
}

/* IE 6-8 fallback colors. */
.leaflet-oldie .marker-cluster-small {
    background-color: #3f51b5;
}
.leaflet-oldie .marker-cluster-small div {
	background-color: #fff;;
}
.leaflet-oldie .marker-cluster-medium {
    background-color: #3f51b5;
}
.leaflet-oldie .marker-cluster-medium div {
	background-color: #fff;;
}
.leaflet-oldie .marker-cluster-large {
	background-color: #3f51b5;
}
.leaflet-oldie .marker-cluster-large div {
	background-color: #fff;;
}

.marker-cluster {
    background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
    text-align: center;
	border-radius: 15px;
	font-size: 12px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.marker-cluster span {
	line-height: 30px;
}