<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<div id="footer-container">
    <md-divider></md-divider>
    <div id="footer-content" data-ng-controller="MainController" layout="row" layout-align="space-between center">
        <div flex="33" class="main-footer-item">&nbsp;</div>
        <div flex="33" class="main-footer-item" layout="row" layout-align="center center">
            2020&nbsp;|&nbsp;<span app-version></span>
        </div>
        <div flex="33" class="main-footer-item" layout="row" layout-align="end center">
            <md-menu>
                <div id="select-lang-button" ng-click="$mdOpenMenu($event)">
                    {{getCurrentLanguage()}}
                </div>
                <md-menu-content width="1">
                    <md-menu-item data-ng-repeat="item in ['EN', 'RU']">
                        <md-button data-ng-click="setLanguage(item)"> {{item}} </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</div>
