<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<div id="map-popup" layout="row" layout-align="space-between center" data-ng-show="tech.showPopup">
    <div class="map-popup-control"></div>
    <div class="map-popup-content" layout="row" layout-align="center center" flex>
        <div class="map-popup-content-inner" layout="column" layout-align="center end">
            <img data-ng-src="{{tech.popupFlag}}"/>
        </div>
        <div class="map-popup-content-inner" layout="column" layout-align="center start">
            <span class="text-ellipsis" title="{{tech.popupCountry | translate}}">{{tech.popupCountry | translate}}</span>
            <span class="text-ellipsis" title="{{tech.popupName | translate}}">{{tech.popupName | translate}}</span>
        </div>
    </div>
    <div class="map-popup-control" layout="row" layout-align="end center">
        <md-button class="md-icon-button good-popup-button" data-ng-click="closePopup()" layout="column" layout-align="center center" aria-label="close-popup-button">
            <span class="icon-cross"></span>
        </md-button>
    </div>
</div>