<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<md-content layout="column" layout-align="center center">
    <div id="map-popup" layout="row" layout-align="space-between center" data-ng-show="tech.showPopup">
        <div class="map-popup-control"></div>
        <div class="map-popup-content" layout="column" layout-align="center center" flex>
            <span class="map-popup-content-inner">{{tech.popupContent}}</span>
        </div>
        <div class="map-popup-control" layout="row" layout-align="end center">
            <md-button class="md-icon-button good-popup-button" data-ng-click="closePopup()" aria-label="close-popup-button">
                <span class="icon-cross"></span>
            </md-button>
        </div>
    </div>

    <div id="map-year-indicator" layout="column" layout-align="center center" data-ng-click="openSideNavigation()">
        <label class="map-year-label map">{{tech.currentYear}}</label>
    </div>

    <md-sidenav class="md-sidenav-left" md-whiteframe="2" md-component-id="left">
        <md-content class="md-sidenav-content-custom" layout="column" layout-align="center center">
            <md-slider class="md-warn" style="height:90%" min="1985" max="2016" data-ng-model="tech.currentYear" data-ng-change="onYearChange()" aria-label="map-time-slider" md-vertical></md-slider>
        </md-content>
    </md-sidenav>

    <leaflet lf-center="london" markers="markers2" height="480px" width="100%"></leaflet>
    <!--leaflet width="100%" data-ng-style="{'height':mapHeight+'px'}" defaults="defaults" lf-center="center" event-broadcast="tech.events" layers="layers" markers="markers" geojson="geojson"></leaflet-->
</md-content>