<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<md-content id="w_1" class="normal-container">
    <work-nav active-item="w_1" on-click-fn="slideTo(anchor)"></work-nav>
    <div id="work-container-1" layout-xs="column" layout-gt-xs="row" layout-align="center center">
        <div layout="column" layout-align="center center">
            <span class="icon-linkedin icon-link linkedin" onclick="window.location='https://de.linkedin.com/in/kardanov';return false;"></span>
            <span class="work-text">{{'LINKEDIN' | translate}}</span>
        </div>
        <div layout="column" layout-align="center center">
            <span class="icon-xing icon-link xing" onclick="window.location='https://www.xing.com/profile/Ruslan_Kardanov';return false;"></span>
            <span class="work-text">{{'XING' | translate}}</span>
        </div>
    </div>
</md-content>

<div id="w_2" class="normal-container" style="height:600px;">
    <work-nav active-item="w_2" on-click-fn="slideTo(anchor)"></work-nav>
</div>
<div id="w_3" class="normal-container" style="height:600px;">
    <work-nav active-item="w_3" on-click-fn="slideTo(anchor)"></work-nav>
</div>
<div id="w_4" class="normal-container" style="height:600px;">
    <work-nav active-item="w_4" on-click-fn="slideTo(anchor)"></work-nav>
</div>