<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<md-content id="w_1">
    <work-nav active-item="w_1" on-click-fn="slideTo(anchor)"></work-nav>
    <div data-ng-style="{'min-height':(height-120)+'px'}" layout-xs="column" layout-gt-xs="row" layout-align="center center">
        <span class="icon-linkedin icon-link linkedin" onclick="window.location='https://de.linkedin.com/in/kardanov';return false;"></span>
        <span class="icon-xing icon-link xing" onclick="window.location='https://www.xing.com/profile/Ruslan_Kardanov';return false;"></span>
    </div>
</md-content>

<md-content id="w_2">
    <work-nav active-item="w_2" on-click-fn="slideTo(anchor)"></work-nav>
    <div data-ng-style="{'min-height':(height-120)+'px'}">
    </div>
</md-content>
<md-content id="w_3">
    <work-nav active-item="w_3" on-click-fn="slideTo(anchor)"></work-nav>
    <div data-ng-style="{'min-height':(height-120)+'px'}">
    </div>
</md-content>
<md-content id="w_4">
    <work-nav active-item="w_4" on-click-fn="slideTo(anchor)"></work-nav>
    <div data-ng-style="{'min-height':(height-120)+'px'}">
    </div>
</md-content>