@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?lp9gzc');
    src:    url('../fonts/icomoon.eot?lp9gzc#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?lp9gzc') format('truetype'),
        url('../fonts/icomoon.woff?lp9gzc') format('woff'),
        url('../fonts/icomoon.svg?lp9gzc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
    content: "\e075";
	color: #777;
    font-size: 29px;
}
.icon-briefcase.white:before {
    color: #fff;
}

.icon-cog:before {
    content: "\e023";
    color: #777;
    font-size: 25px;
}
.icon-cog.white:before {
    color: #fff;
}

.icon-map:before {
    content: "\e072";
    color: #777;
    font-size: 25px;
}
.icon-map.white:before {
    color: #fff;
}
.icon-cross:before {
    content: "\e117";
    color: #fff;
    font-size: 22px;
}