.clickable { }
.clickable:hover {
    cursor: pointer;
}
.clickable:focus {
    outline: 0;
}

.logo {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 5px;
}
.logo.long {
     width: 210px;
}
.logo.short {
    width: 36px;
}

#footer-content {
    width: 100%;
    font-size: 12px;
    padding: 10px;
}

html, body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #777;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}